<div id='contactUsDefault' class='contactUsPanel'> 
				<% if( typeof displayMsg != 'undefined' ) { %>
          <p style="color:black;"><%= decodeURI(displayMsg) %></p> 
        <% } %>
				<form id='contactUsForm' data-toggle='validator' role='form'> 
				<div class='form-horizontal'> 
  					<div class='control-group'> 
    					<input name='email' type='email' id='inputEmail' placeholder='Email' required> 
    				 </div> 
  					<div class='control-group'> 
    					<input name='number' pattern='^([+0-9]){3,}$' type='text' placeholder='Contact Number'> 
    				</div> 
  					<div class='control-group'> 
    					<textarea  name='message' rows='3' placeholder='Message' required/> 
    				</div> 
  					<button id='contactUsButton' type='submit' class='btn'>Send</button> 
    			</div> 
    			</form>
		</div>