<% include layouts/headOpen %>
 <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
<% include layouts/headClose %>
 <div class="container">
<form class="form-signin" role="form" action="/user/login" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <%if (typeof errors != 'undefined') { %>
        <p class='bg-danger'><%= errors %></p>
        <% }%>
        <input type="email" name='email' class="form-control" placeholder="Email address" required="" autofocus="">
        <input type="password" name='confirm_password' class="form-control" placeholder="Password" required="">
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
		<!--<a href="auth/facebook" class="facebook"><img style='height:32px;width:32px' src='/img/actions/png/fb-login.png'/></a>
		<a href="auth/google" class="google"><img style='height:32px;width:32px' src='/img/actions/png/gp-login.png'/></a>
		<a href="auth/twitter" class="twitter"><img style='height:32px;width:32px' src='/img/actions/png/tw-login.png'/></a> -->
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <a href='/' class='pull-left'>Home</a><a href='/user/register' class='pull-right'>Register</a>
</form>	 
 </div>
<% include layouts/footer %>